extends ..\layout

block content
    br
    br
    .panel.panel-default
        .panel-heading
            h1.panel-title Clientes registrados
        .panel-body
            table(class='table table-striped')
                tr
                    th Nombre
                    th Edad
                    th Email
                    each customer in customers
                        tr
                            td #{customer.name}
                            td #{customer.age}
                            td #{customer.email}